@model CombinedVM
@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<form method="post" asp-action="Edit" asp-controller="Settings">
    <div class="form-group">
        <label></label>
        <input asp-for="SettingVM.AboutUs" class="form-control" id="exampleInputEmail1" placeholder="Enter About">
    </div>
    <div class="form-group">
        <label></label>
        <input asp-for="SettingVM.Phone" class="form-control" id="exampleInputEmail1" placeholder="Enter Phone number">
    </div>
    <div class="form-group">
        <label></label>
        <input asp-for="SettingVM.Location" class="form-control" id="exampleInputEmail1" placeholder="Enter Location">
    </div>
    <div class="form-group">
        <label></label>
        <input asp-for="SettingVM.EmailAddress" class="form-control" id="exampleInputEmail1" placeholder="Enter Email Address">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>